extends base/_base

block title
    title="Awards"

block content
    section.product
        .container
            .product__content.awards-block
                .product-left
                    h1  Награды
                .product-right
                    .awards-all
                        include include/_crumb
                        .awards__content
                            .awards__card
                                .awards__card-inner
                                    .awards__card-img
                                        img(src="img/png/icon-best.png")
                            .awards__card
                                .awards__card-inner
                                    .awards__card-img
                                        img(src="img/png/icon-best2.png")
                            .awards__card
                                .awards__card-inner
                                    .awards__card-img
                                        img(src="img/png/icon-best2.png")





block scripts




