extends base/_base

block title
    title="Contact"

block content
    section.product.contact
        .container
            .product__content
                .product-left
                    h1  контакты
                .product-right
                    include include/_crumb
    .contact-group
        section.contact__content-all
            .parallax(style="background: url('img/jpg/slider-background.jpg')")
                .paralax-img
                    img(src="img/png/img9.png")
                .paralax-img2
                    img(src="img/png/img10.png")
                .parallax-heading
                    h2 колбасы
            .contact__content
                .container
                    .product-right
                        .contact__content-inner
                            .contact-info
                                a(href="tel:+996 312 453766" class="contact-tell") +996 312 453766
                            .contact-info
                                a(href="tel:+996 707 442277" class="contact-whatsapp") +996 707 442277
                            .contact-info
                                .contact__operating-mode
                                    .operating-mode
                                        p    Режим работы:
                                        p    Пн.- Пт. 09:00 -17:00
                                        p    Сб. 09:00 - 15:00
                                        p    Обед: 13:00-14:00
                            .contact-info
                                a(href="mailto:info@toyboss.kg" class="contact-email") info@toyboss.kg
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   HR отдел
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Отдел производства
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Отдел маркетинга
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Бухгалтерия
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .contact__address
                                    .operating-mode
                                        p   Кыргызская Республика Чуйская обл, Ысык-Атинский р-н с. Новопокровка. Логвиненковский а/о, контур №159
                            .contact-info
                                .contact__live
                                    .operating-mode
                                        p   Присоединяйтесь к нам в социальных сетях:
                                        .contact__network-link
                                          a(href="#" class="contact-insta")
                                          a(href="#" class="contact-fb")
                                          a(href="#" class="contact-wa")
                                          a(href="#" class="contact-telegram")
        section.contact__content-all
            .parallax(style="background: url('img/jpg/slider-background.jpg')")
                .paralax-img
                    img(src="img/png/img9.png")
                .paralax-img2
                    img(src="img/png/img10.png")
                .parallax-heading
                    h2 сэндвичи
            .contact__content
                .container
                    .product-right
                        .contact__content-inner
                            .contact-info
                                a(href="tel:+996 312 453766" class="contact-tell") +996 312 453766
                            .contact-info
                                a(href="tel:+996 707 442277" class="contact-whatsapp") +996 707 442277
                            .contact-info
                                .contact__operating-mode
                                    .operating-mode
                                        p    Режим работы:
                                        p    Пн.- Пт. 09:00 -17:00
                                        p    Сб. 09:00 - 15:00
                                        p    Обед: 13:00-14:00
                            .contact-info
                                a(href="mailto:info@toyboss.kg" class="contact-email") info@toyboss.kg
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   HR отдел
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Отдел производства
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Отдел маркетинга
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .hr-departament
                                    .operating-mode
                                        p.p   Бухгалтерия
                                        a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                        a(href="tel:+996 707 442277") +996 707 442277
                            .contact-info
                                .contact__address
                                    .operating-mode
                                        p   Кыргызская Республика Чуйская обл, Ысык-Атинский р-н с. Новопокровка. Логвиненковский а/о, контур №159
                            .contact-info
                                .contact__live
                                    .operating-mode
                                        p   Присоединяйтесь к нам в социальных сетях:
                                        .contact__network-link
                                          a(href="#" class="contact-insta")
                                          a(href="#" class="contact-fb")
                                          a(href="#" class="contact-wa")
                                          a(href="#" class="contact-telegram")
        section.contact__content-all
                .parallax(style="background: url('img/jpg/slider-background.jpg')")
                    .paralax-img
                        img(src="img/png/img9.png")
                    .paralax-img2
                        img(src="img/png/img10.png")
                    .parallax-heading
                        h2 сосиски
                .contact__content
                    .container
                        .product-right
                            .contact__content-inner
                                .contact-info
                                    a(href="tel:+996 312 453766" class="contact-tell") +996 312 453766
                                .contact-info
                                    a(href="tel:+996 707 442277" class="contact-whatsapp") +996 707 442277
                                .contact-info
                                    .contact__operating-mode
                                        .operating-mode
                                            p    Режим работы:
                                            p    Пн.- Пт. 09:00 -17:00
                                            p    Сб. 09:00 - 15:00
                                            p    Обед: 13:00-14:00
                                .contact-info
                                    a(href="mailto:info@toyboss.kg" class="contact-email") info@toyboss.kg
                                .contact-info
                                    .hr-departament
                                        .operating-mode
                                            p.p   HR отдел
                                            a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                            a(href="tel:+996 707 442277") +996 707 442277
                                .contact-info
                                    .hr-departament
                                        .operating-mode
                                            p.p   Отдел производства
                                            a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                            a(href="tel:+996 707 442277") +996 707 442277
                                .contact-info
                                    .hr-departament
                                        .operating-mode
                                            p.p   Отдел маркетинга
                                            a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                            a(href="tel:+996 707 442277") +996 707 442277
                                .contact-info
                                    .hr-departament
                                        .operating-mode
                                            p.p   Бухгалтерия
                                            a(href="mailto:info@toyboss.kg") info@toyboss.kg
                                            a(href="tel:+996 707 442277") +996 707 442277
                                .contact-info
                                    .contact__address
                                        .operating-mode
                                            p   Кыргызская Республика Чуйская обл, Ысык-Атинский р-н с. Новопокровка. Логвиненковский а/о, контур №159
                                .contact-info
                                    .contact__live
                                        .operating-mode
                                            p   Присоединяйтесь к нам в социальных сетях:
                                            .contact__network-link
                                              a(href="#" class="contact-insta")
                                              a(href="#" class="contact-fb")
                                              a(href="#" class="contact-wa")
                                              a(href="#" class="contact-telegram")
                            .contact-map-block
                                .contact__map
                                    iframe( src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d5237.521730565823!2d74.56682186521728!3d42.87348662799027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6!3m2!1d42.8746212!2d74.5697617!5e0!3m2!1sru!2skg!4v1583222765655!5m2!1sru!2skg" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="")












block scripts





