extends base/_base

block title
    title="Live"

block content
    section.product.live
        .container
            .product__content
                .product-left
                    h1  публикации
                .product-right
                    .about-company-all
                        include include/_crumb
                        .live__content
                            .live__card_all
                                .live__video-card
                                        .live__card
                                            h3  Камера 1
                                            .live__card-img
                                                iframe( width="100%" height="100%" src="https://www.youtube.com/embed/I3dOhbkcvWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                .live__video-card
                                        .live__card
                                            h3  Камера 1
                                            .live__card-img
                                                iframe( width="100%" height="100%" src="https://www.youtube.com/embed/I3dOhbkcvWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                .live__video-card
                                        .live__card
                                            h3  Камера 1
                                            .live__card-img
                                                iframe( width="100%" height="100%" src="https://www.youtube.com/embed/I3dOhbkcvWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)








block scripts
