extends base/_base

block title
    title="Product"

block content
    section.product
        .container
            .product__content
                .product-left
                    h1  Продукция
                .product-right
                    include include/_crumb
    .product__section-all
        section.product__section-group
            .parallax(style="background: url('img/jpg/slider-background.jpg')")
                .paralax-img
                    img(src="img/png/img9.png")
                .paralax-img2
                    img(src="img/png/img10.png")
                .parallax-heading
                    h2 полукапченые колбасы
            .product-sausage
                .container
                    .product-right-all
                        .product-right
                            .product__card-all
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img9.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                            .button__product-all
                                a(href="#") Смотреть все
        section.product__section-group
            .parallax(style="background: url('img/jpg/slider-background.jpg')")
                .paralax-img
                    img(src="img/png/img9.png")
                .paralax-img2
                    img(src="img/png/img10.png")
                .parallax-heading
                    h2 вареные колбасы
            .product-sausage
                .container
                    .product-right-all
                        .product-right
                            .product__card-all
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img9.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                            .button__product-all
                                a(href="#") Смотреть все
        section.product__section-group
            .parallax(style="background: url('img/jpg/slider-background.jpg')")
                .paralax-img
                    img(src="img/png/img9.png")
                .paralax-img2
                    img(src="img/png/img10.png")
                .parallax-heading
                    h2 сэндвичи
            .product-sausage
                .container
                    .product-right-all
                        .product-right
                            .product__card-all
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Фирменная
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img12.png")
                                        h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                        a(href="#")
                                .product__card-inner
                                    .product__card
                                        .product__card-img
                                            img(src="img/png/img9.png")
                                        h4(data-mh="my-group")  Байская
                                        a(href="#")
                            .button__product-all
                                a(href="#") Смотреть все









block scripts

