extends base/_base

block title
    title="Product-inner"

block content
    section.product
        .container
            .product__content
                .product-left
                    h1  Продукция
                .product-right
                    include include/_crumb
    section.parallax(style="background: url('img/jpg/slider-background.jpg')")
        .paralax-img
            img(src="img/png/img9.png")
        .paralax-img2
            img(src="img/png/img10.png")
        .parallax-heading
            h2 полукапченые колбасы
    section.product__inner
        .container
            .product-right
                .product__inner-content
                    .product__inner-img
                        img(src="img/png/img12.png")
                    .productinner-heading-all
                        .product__inner-heading
                            h2   Фирменная
                            h3  Колбаса полукапченая
                            p   Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.
                        .product__inner-heading
                            h2   Состав
                            p   Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.
                        .product__inner-heading
                            h2 Рецепты
                            .product__inner-card-all
                                .product__inner-cards
                                    .product__inner-card
                                        .product__inner-card-img
                                            img(src="img/png/img.png" data-mh="my-group2")
                                        .product__inner-card-heading
                                            p Миссия компании заключается в том, чтобы прикладывать все силы для
                                        a(href="#")
                                .product__inner-cards
                                    .product__inner-card
                                        .product__inner-card-img
                                            img(src="img/png/img.png" data-mh="my-group2")
                                        .product__inner-card-heading
                                            p Миссия компании заключается в том, чтобы прикладывать
                                        a(href="#")
                                .product__inner-cards
                                    .product__inner-card
                                        .product__inner-card-img
                                            img(src="img/png/img.png" data-mh="my-group2")
                                        .product__inner-card-heading
                                            p Миссия компании заключается в том.
                                        a(href="#")









    section.about-product
        .container
            .product-sausage
                .product-right
                    .product__card-all
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Фирменная
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Фирменная
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img
                                    img(src="img/png/img9.png")
                                h4(data-mh="my-group")  Байская
                                a(href="#")





block scripts

