extends base/_base

block title
    title="Publications"

block content
    section.product.publications-page
        .container
            .product__content
                .product-left
                    h1  публикации
                .product-right
                    .about-company-all
                        include include/_crumb
                        .about-company__content
                            .about-company
                                h2.h2   Производитель колбасных издели халяль №1 в Кыргызстане
                                h5.h5  12.02.2020
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...
                                    span подробнее
                                img(src="img/png/img.png")
                                a(href="#")
                            .about-company
                                h2.h2   Производитель колбасных издели халяль №1 в Кыргызстане
                                h5.h5  12.02.2020
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...
                                    span подробнее
                                img(src="img/png/img.png")
                                a(href="#")
                            .about-company
                                h2.h2   Производитель колбасных издели халяль №1 в Кыргызстане
                                h5.h5  12.02.2020
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...
                                    span подробнее
                                img(src="img/png/img.png")
                                a(href="#")

                        include include/_pagination




block scripts




