extends base/_base

block title
    title="Publications inner"

block content
    section.product.publications-inner-page
        .container
            .product__content
                .product-left
                    h1  публикации
                .product-right
                    .about-company-all
                        include include/_crumb
                        .about-company__content
                            .about-company
                                h2.h2   Производитель колбасных издели халяль №1 в Кыргызстане
                                h5.h5  12.02.2020
                                p  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris
                                .about-company__img
                                    .main-slider
                                        .swiper-container
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .publications-inner-img
                                                        img(src="img/png/img.png")
                                                .swiper-slide
                                                    .publications-inner-img
                                                        img(src="img/png/img.png")
                                                .swiper-slide
                                                    .publications-inner-img
                                                        img(src="img/png/img.png")
                                                .swiper-slide
                                                    .publications-inner-img
                                                        img(src="img/png/img.png")

                                            .swiper-pagination
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia





block scripts




