extends base/_base

block title
    title="Recipes-inner"

block content
    section.product.recipes-inner
        .container
            .product__content
                .product-left
                    h1  рецепты
                .product-right
                    .about-company-all
                        include include/_crumb
                        .recipes__content
                            .recipes__content-block
                                h2.h2 Sausage, Mushroom and Cranberry Tart
                                img(src="img/jpg/recipes2.jpg")
                                p.p Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!
                            .recipes__content-block
                                h2.h2 Ingredients
                                p 1 package Premium Pork Regular Sausage
                                p 1 refrigerated pie crust
                                p 3 tablespoons butter
                                p ½ cups sliced fresh button mushrooms
                                p 1 ½ cups sliced fresh baby Portobello mushrooms
                                p 2 eggs, lightly beaten
                                p 1 ½ cups (6 ounces) shredded Gruyere or Swiss cheese
                                p ¾ cup dried cranberries, divided
                                p ½ cup whipping cream
                                p 3 tablespoons minced fresh parsley
                                p 2 green onions, thinly sliced
                            .recipes__content-block
                                h2.h2 Directions
                                p Preheat oven to 450°F. Press pie crust onto bottom and up side of 9-inch fluted tart pan with removable bottom; trim edge, reserving trimmings. Prick bottom of crust with fork. Bake 10-12 minutes or until golden brown. Cool. Reduce heat to 375°F. Cook sausage in large skillet over MEDIUM-HIGH heat 8-10 minutes or until thoroughly cooked, stirring frequently. Remove from skillet; set aside. Melt butter in same skillet. Add mushrooms; cook 5 min. or until tender, stirring occasionally. Place in large bowl. Add eggs, cheese, ½ cup cranberries, cream, parsley and sausage mixture; mix well. Pour into tart shell. Roll out reserved pie crust trimmings on lightly floured surface. Use cookie cutters to cut into decorative shapes; arrange over filling. Bake 25-30 minutes or until knife inserted in center comes out clean. Top with onions and remaining cranberries. Cut into 8 wedges to serve.

    section.about-product
        .container
            .product-sausage
                .product-right
                    .product__card-all
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Фирменная
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img9.png")
                                h4(data-mh="my-group")  Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская Мусульманская Мусульманская Мусульманская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская
                                a(href="#")
                        .product__card-inner
                            .product__card
                                .product__card-img(data-mh="my-group3")
                                    img(src="img/png/img12.png")
                                h4(data-mh="my-group")  Байская
                                a(href="#")











block scripts




