extends base/_base

block title
    title="Recipes"

block content
    section.product.recipes
        .container
            .product__content
                .product-left
                    h1 рецепты
                .product-right
                    .about-company-all
                        include include/_crumb
                        .about-company__content
                            .about-company
                                h2.h2  Sausage, Mushroom and Cranberry Tart
                                p Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!
                                img(src="img/jpg/recipes.jpg")
                                a(href="#")
                            .about-company
                                h2.h2   Sausage, Mushroom and Cranberry Tart
                                p Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!
                                img(src="img/jpg/recipes.jpg")
                                a(href="#")
                            .about-company
                                h2.h2   Sausage, Mushroom and Cranberry Tart
                                p Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!
                                img(src="img/jpg/recipes.jpg")
                                a(href="#")

                        include include/_pagination


block scripts




