extends base/_base

block title
    title="Sertificates"

block content
    section.product.sertificates
        .container
            .product__content
                .product-left
                    h1  контакты
                .product-right
                    include include/_crumb
                    .sertificates__content
                        .certificates__card
                            .certificates__card-inner
                                .certificates__card-block
                                    h5
                                        | Сертификат соответствия системы менеджмента требованиям схемы...
                                        span еще
                                    .certificates__card-img
                                        img(src="img/jpg/sertificates1.jpg")
                            .sertificates__modal-content
                                .swiper-container-s2
                                    .swiper-wrapper
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   1Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates3.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000

                                    .swiper-pagination
                                    .swiper-button-next
                                    .swiper-button-prev
                                    .sertificates__modal-close
                                        span Закрыть

                        .certificates__card
                            .certificates__card-inner
                                .certificates__card-block
                                    h5
                                        | Сертификат соответствия системы менеджмента требованиям схемы...
                                        span еще
                                    .certificates__card-img
                                        img(src="img/jpg/sertificates2.jpg")
                            .sertificates__modal-content
                                .swiper-container-s2
                                    .swiper-wrapper
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   2Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates3.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                    .swiper-pagination
                                    .swiper-button-next
                                    .swiper-button-prev
                                    .sertificates__modal-close
                                        span Закрыть

                        .certificates__card-big.certificates__card
                            .certificates__card-inner
                                .certificates__card-block
                                    h5  Сертификат соответствия № KG 417/01.00017
                                    .certificates__card-img
                                        img(src="img/jpg/sertificates3.jpg")
                            .sertificates__modal-content
                                .swiper-container-s2
                                    .swiper-wrapper
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   3Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates3.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                        .swiper-slide
                                            .slider-img
                                                img(src="img/jpg/sertificates1.jpg")
                                                .slider-img__heading
                                                    p   Сертификат соответствия системы менеджмента требованиям схемы сертификации систем пищевой безопасности (FSSC) 22000
                                    .swiper-pagination
                                    .swiper-button-next
                                    .swiper-button-prev
                                    .sertificates__modal-close
                                        span Закрыть







block scripts
