extends base/_base

block title
    title="Vacancies"

block content
    section.product.vacancies
        .container
            .product__content
                .product-left
                    h1  контакты
                .product-right
                    include include/_crumb
                    .vacancies__content
                        .vacancies__tab
                            .vacancies__tab-button
                                h2.h2   Заголовок вакансии
                                h5  12.02.2020
                                .vacancies__tab-hide
                                    span  Скрыть
                            .vacancies__tab-content
                                h2 Требования к должности:
                                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est
                                h2  Функциональные обязанности:
                                p.p Lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum
                                p.p Резюме отправлять на почту
                                    a(href="mailto:toyboss@toyboss.kg") toyboss@toyboss.kg
                                h3 Резюме без указания позиции не рассматриваются!
                        .vacancies__tab
                            .vacancies__tab-button
                                h2.h2   Заголовок вакансии
                                h5  12.02.2020
                                .vacancies__tab-hide
                                    span  Скрыть
                            .vacancies__tab-content
                                h2 Требования к должности:
                                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est
                                h2  Функциональные обязанности:
                                p.p Lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum
                                p.p Резюме отправлять на почту
                                    a(href="mailto:toyboss@toyboss.kg") toyboss@toyboss.kg
                                h3 Резюме без указания позиции не рассматриваются!
                        .vacancies__tab
                            .vacancies__tab-button
                                h2.h2   Заголовок вакансии
                                h5  12.02.2020
                                .vacancies__tab-hide
                                    span  Скрыть
                            .vacancies__tab-content
                                h2 Требования к должности:
                                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est
                                h2  Функциональные обязанности:
                                p.p Lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum
                                p.p Резюме отправлять на почту
                                    a(href="mailto:toyboss@toyboss.kg") toyboss@toyboss.kg
                                h3 Резюме без указания позиции не рассматриваются!






block scripts
