<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png"/>
    <link rel="manifest" href="favicon_io/site.webmanifest"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="fonts/PTSerif/stylesheet.css"/>
    <link rel="stylesheet" href="fonts/PTSans/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>index</title>
    <!--title your page 'about-us' example-->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-logo">
            <div class="header-logo__img"><a href="#"><img src="img/svg/logo-header.svg"/></a></div>
          </div>
          <div class="header-nav__content">
            <div class="navigation">
              <ul class="nav">
                <div class="nav-group">
                  <li class="nav-link active"><a href="#">О нас</a></li>
                  <li class="nav-link"><a href="#">Продукция</a></li>
                  <li class="nav-link"><a href="#">Публикации</a></li>
                </div>
                <div class="nav-group">
                  <li class="nav-link"><a href="#">Рецепты</a></li>
                </div>
              </ul>
            </div>
            <div class="header-language">
              <div class="network-link"><a href="#"><img src="img/svg/instagram-icon.svg"/></a><a href="#"><img src="img/svg/facebook-icon.svg"/></a><a href="#"><img src="img/svg/whatsapp-icon.svg"/></a></div>
              <div class="language-link"><a href="#"><img src="img/svg/kg-icon.svg"/></a><a href="#"><img src="img/svg/ru-icon.svg"/></a><a href="#"><img src="img/svg/en-icon.svg"/></a><a href="#"><img src="img/svg/kz-icon.svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main__content">
      <section class="main-slider-section test" style="background: url('img/jpg/slider-background.jpg')">
        <div class="container">
          <div class="main-slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="slider-content">
                    <div class="product-name-img" smooth-parallax="smooth-parallax" start-movement="0" end-movement="1" start-position-y="0.1" end-position-y="-8"><img src="img/png/slider-product-name.png"/></div>
                    <div class="product-img2" smooth-parallax="smooth-parallax" start-movement="0" end-movement="1" start-position-y="0.1" end-position-y="-3"><img src="img/png/product-img2.png"/></div>
                    <div class="product-img3" smooth-parallax="smooth-parallax" start-movement="0" end-movement="1" start-position-y="0.1" end-position-y="3"><img src="img/png/product-img33.png"/></div>
                    <div class="product-slider-heading">
                      <h3> Узнайте как вкуснее</h3>
                      <p>  Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.</p><a class="link__detail" href="#">Наша продукция</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about-us">
        <div class="container">
          <div class="about-us__content">
            <div class="about-us__content-left">
              <h2> О НАС</h2>
            </div>
            <div class="about-us__content-right">
              <h2><a href="#">Производитель колбасных издели халяль №1 в Кыргызстане</a></h2>
              <p>  Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.</p>
              <div class="content-right__img"><img src="img/png/img.png"/></div><a class="link__detail" href="#">подробнее о нас</a>
            </div>
          </div>
        </div>
      </section>
      <section class="whats-tastier" style="background: url('img/jpg/slider-background.jpg')">
        <div class="whats-tastier__img1" smooth-parallax="smooth-parallax" start-movement="0.1" end-movement=".4" start-position-x="-.8" end-position-x="0"><img src="img/png/img5.png"/></div>
        <div class="whats-tastier__img2" smooth-parallax="smooth-parallax" start-movement="0.1" end-movement=".4" start-position-y=".8" end-position-y="0"><img src="img/png/img6.png"/></div>
        <div class="container">
          <div class="whats-tastier__content">
            <div class="product-slider-heading">
              <h3> Узнайте как вкуснее</h3>
              <p>  Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.</p><a class="link__detail" href="#">Наша продукция</a>
            </div>
          </div>
        </div>
      </section>
      <section class="about-us">
        <div class="container">
          <div class="about-us__content">
            <div class="about-us__content-left">
              <h2> Награды</h2>
            </div>
            <div class="about-us__content-right">
              <div class="awards__img-all">
                <div class="swiper-container2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="awards__img-block">
                        <div class="awards__img"><a href="#"><img src="img/png/icon-best.png"/></a></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="awards__img-block">
                        <div class="awards__img"><a href="#"><img src="img/png/icon-best.png"/></a></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="awards__img-block">
                        <div class="awards__img"><a href="#"><img src="img/png/icon-best.png"/></a></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="awards__img-block">
                        <div class="awards__img"><a href="#"><img src="img/png/icon-best.png"/></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="whats-tastier" style="background: url('img/jpg/slider-background.jpg')">
        <div class="whats-tastier__img1" smooth-parallax="smooth-parallax" start-movement="0.4" end-movement=".7" start-position-x="-.8" end-position-x="0"><img src="img/png/img5.png"/></div>
        <div class="whats-tastier__img2" smooth-parallax="smooth-parallax" start-movement="0.4" end-movement=".7" start-position-y=".8" end-position-y="0"><img src="img/png/img6.png"/></div>
        <div class="container">
          <div class="whats-tastier__content">
            <div class="product-slider-heading">
              <h3> Узнайте как вкуснее</h3>
              <p>  Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.</p><a class="link__detail" href="#">рецепты</a>
            </div>
          </div>
        </div>
      </section>
      <section class="about-us">
        <div class="container">
          <div class="about-us__content">
            <div class="about-us__content-left">
              <h2> публикации</h2>
            </div>
            <div class="publications__all">
              <div class="publications__card">
                <div class="about-us__content-right">
                  <h2 data-mh="my-group"><a href="#">Производитель колбасных</a></h2>
                  <p data-mh="my-group1">  Миссия компании заключается в том</p>
                  <div class="content-right__img"><img src="img/png/img.png"/></div><a class="link__detail" href="#">подробнее о нас</a>
                </div>
              </div>
              <div class="publications__card">
                <div class="about-us__content-right">
                  <h2 data-mh="my-group"><a href="#">Производитель колбасных издели халяль №1 в Кыргызстане</a></h2>
                  <p data-mh="my-group1">  Миссия компании заключается в том, чтобы прикладывать все силы для улучшения качества жизни наших потребителей.</p>
                  <div class="content-right__img"><img src="img/png/img.png"/></div><a class="link__detail" href="#">подробнее о нас</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo"><a href="#">   Developed by YOUR-NAME 2024</a></div>
          <div class="footer-nav-content">
            <nav class="nav">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Публикации</a></li>
                <li><a href="#">Рецепты</a></li>
              </ul>
            </nav>
            <div class="footer-link">
              <div class="network-link"><a href="#"><img src="img/svg/instagram-icon.svg"/></a><a href="#"><img src="img/svg/facebook-icon.svg"/></a><a href="#"><img src="img/svg/whatsapp-icon.svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@11.1.14/swiper.min.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>