{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="product publications-page">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> публикации</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
              <div class="about-company__content">
                <div class="about-company">
                  <h2 class="h2">  Производитель колбасных издели халяль №1 в Кыргызстане</h2>
                  <h5 class="h5"> 12.02.2020</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...<span>подробнее</span></p><img src="img/png/img.png"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Производитель колбасных издели халяль №1 в Кыргызстане</h2>
                  <h5 class="h5"> 12.02.2020</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...<span>подробнее</span></p><img src="img/png/img.png"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Производитель колбасных издели халяль №1 в Кыргызстане</h2>
                  <h5 class="h5"> 12.02.2020</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor...<span>подробнее</span></p><img src="img/png/img.png"/><a href="#"></a>
                </div>
              </div>
              <div class="publication__pagination">
                <div class="pagination__left"><a class="arrow-left disabled" href="#"></a></div>
                <div class="publication__pagination-num"><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">...</a><a href="#">85</a></div>
                <div class="pagination__right"><a class="arrow-right" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}