{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="product recipes">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1>рецепты</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
              <div class="about-company__content">
                <div class="about-company">
                  <h2 class="h2"> Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
              </div>
              <div class="publication__pagination">
                <div class="pagination__left"><a class="arrow-left disabled" href="#"></a></div>
                <div class="publication__pagination-num"><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">...</a><a href="#">85</a></div>
                <div class="pagination__right"><a class="arrow-right" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}