<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png"/>
    <link rel="manifest" href="favicon_io/site.webmanifest"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="fonts/PTSerif/stylesheet.css"/>
    <link rel="stylesheet" href="fonts/PTSans/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Recipes</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-logo">
            <div class="header-logo__img"><a href="#"><img src="img/svg/logo-header.svg"/></a></div>
          </div>
          <div class="header-nav__content">
            <div class="navigation">
              <ul class="nav">
                <div class="nav-group">
                  <li class="nav-link active"><a href="#">О нас</a></li>
                  <li class="nav-link"><a href="#">Продукция</a></li>
                  <li class="nav-link"><a href="#">Публикации</a></li>
                </div>
                <div class="nav-group">
                  <li class="nav-link"><a href="#">Рецепты</a></li>

                </div>
              </ul>
            </div>
            <div class="header-language">
              <div class="network-link"><a href="#"><img src="img/svg/instagram-icon.svg"/></a><a href="#"><img src="img/svg/facebook-icon.svg"/></a><a href="#"><img src="img/svg/whatsapp-icon.svg"/></a></div>
              <div class="language-link"><a href="#"><img src="img/svg/kg-icon.svg"/></a><a href="#"><img src="img/svg/ru-icon.svg"/></a><a href="#"><img src="img/svg/en-icon.svg"/></a><a href="#"><img src="img/svg/kz-icon.svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="product recipes">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1>рецепты</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
              <div class="about-company__content">
                <div class="about-company">
                  <h2 class="h2"> Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
                <div class="about-company">
                  <h2 class="h2">  Sausage, Mushroom and Cranberry Tart</h2>
                  <p>Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p><img src="img/jpg/recipes.jpg"/><a href="#"></a>
                </div>
              </div>
              <div class="publication__pagination">
                <div class="pagination__left"><a class="arrow-left disabled" href="#"></a></div>
                <div class="publication__pagination-num"><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">...</a><a href="#">85</a></div>
                <div class="pagination__right"><a class="arrow-right" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo"><a href="#">   Developed by YOUR-NAME 2024</a></div>
          <div class="footer-nav-content">
            <nav class="nav">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Публикации</a></li>
                <li><a href="#">Рецепты</a></li>
              </ul>
            </nav>
            <div class="footer-link">
              <div class="network-link"><a href="#"><img src="img/svg/instagram-icon.svg"/></a><a href="#"><img src="img/svg/facebook-icon.svg"/></a><a href="#"><img src="img/svg/whatsapp-icon.svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@11.1.14/swiper.min.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>