footer.footer
    .container
        .footer-content
            .footer-logo
                a(href="#")    Developed by YOUR-NAME 2024
            .footer-nav-content
                nav.nav
                    ul
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Продукция
                        li
                            a(href="#") Публикации
                        li.active
                            a(href="#") Прямой эфир
                        li
                            a(href="#") Награды
                        li
                            a(href="#") Сертификаты
                        li
                            a(href="#") Рецепты
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Контакты
                .footer-link
                    .network-link
                        a(href="#")
                            img(src="img/svg/instagram-icon.svg")
                        a(href="#")
                            img(src="img/svg/facebook-icon.svg")
                        a(href="#")
                            img(src="img/svg/whatsapp-icon.svg")

