header.header
    .container
        .header-content
            .header-logo
                .header-logo__img
                    a(href="#")
                        img(src="img/svg/logo-header.svg")
            .header-nav__content
                .navigation
                    ul.nav
                        .nav-group
                            li.nav-link.active
                                a(href="#") О нас
                            li.nav-link
                                a(href="#") Продукция
                            li.nav-link
                                a(href="#") Публикации
                        .nav-group
                            li.nav-link
                                a(href="#") Прямой эфир
                            li.nav-link
                                a(href="#") Награды
                            li.nav-link
                                a(href="#") Сертификаты
                        .nav-group
                            li.nav-link
                                a(href="#") Рецепты
                            li.nav-link
                                a(href="#") Вакансии
                            li.nav-link
                                a(href="#") Контакты
                .header-language
                    .network-link
                        a(href="#")
                            img(src="img/svg/instagram-icon.svg")
                        a(href="#")
                            img(src="img/svg/facebook-icon.svg")
                        a(href="#")
                            img(src="img/svg/whatsapp-icon.svg")
                    .language-link
                        a(href="#")
                            img(src="img/svg/kg-icon.svg")
                        a(href="#")
                            img(src="img/svg/ru-icon.svg")
                        a(href="#")
                            img(src="img/svg/en-icon.svg")
                        a(href="#")
                            img(src="img/svg/kz-icon.svg")






