.publication__pagination
    .pagination__left
        a(href="#" class="arrow-left disabled")
    .publication__pagination-num
        a(href="#" class="active") 1
        a(href="#") 2
        a(href="#") 3
        a(href="#") ...
        a(href="#") 85
    .pagination__right
        a(href="#" class="arrow-right")



